# {{ ansible_managed }}

[Unit]
Description={{ item.description | default(item.name) }}
Wants={{ item.name }}.timer

# Restarting is configured in Unit and Service sections.
# Calculate interval and burst so that item.tries restarts are done in item.interval seconds.
{% if item.restart is defined %}
StartLimitInterval={{ item.restart.interval * (item.restart.tries + 1) }}
StartLimitBurst={{ item.restart.tries }}
{%- endif %}

[Service]
ExecStart={{ item.exec_start | default(systemd_timer_job_dir ~ '/' ~ item.name ~ '.sh') }}
WorkingDirectory={{ item.working_directory | default(systemd_timer_job_dir) }}
{% if item.user is defined %}}
User={{ item.user }}
{%- endif %}
DynamicUser={{ item.dynamic_user | default(False) | lower }}
RuntimeMaxSec={{ item.runtime_max_sec | default('infinity') }}

{% if item.restart is defined %}
Restart=on-failure
RestartSec={{ item.restart.interval }}
{%- endif %}

[Install]
WantedBy=multi-user.target
